[Unit]
Description=Web3Pi Lighthouse Beacon chain
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ethereum
ExecStart=/home/ethereum/clients/lighthouse/lighthouse.sh
User=ethereum
Restart=always
RestartSec=120s

[Install]
WantedBy=multi-user.target
