[Unit]
Description=Web3 Pi Lighthouse Consensus Client service
After=network.target
Documentation=https://setup-guide.web3pi.io

[Service]
Type=simple
ExecStart=/home/ethereum/clients/lighthouse/lighthouse.sh
Restart=on-failure
RestartSec=120
KillSignal=SIGINT
TimeoutStopSec=900

[Install]
WantedBy=multi-user.target