[Unit]
Description=Web3Pi Geth Client
After=network.target
Documentation=https://setup-guide.web3pi.io

[Service]
Type=simple
WorkingDirectory=/home/ethereum
ExecStart=/home/ethereum/clients/geth/geth.sh
User=ethereum
Restart=on-failure
RestartSec=120
KillSignal=SIGINT
TimeoutStopSec=900

[Install]
WantedBy=multi-user.target
