[Unit]
Description=Web3Pi Geth Client
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ethereum
ExecStart=/home/ethereum/clients/geth/geth.sh
User=ethereum

[Install]
WantedBy=multi-user.target
